* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, "PingFang SC";
  font-size: 24px;
}
img {
  height: 100%;
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(65, 81, 101, 0.9);
  color: #dadbdd;
}

.logo {
  margin-left: 34px;
  font-weight: 600;
}
nav ul {
  display: flex;
  list-style: none;
  margin-right: 34px;
}
ul li {
  font-size: 18px;
  margin: 14px;
  font-weight: 400;
  color: white;
}
.wrapper {
  height: calc(100vh - 80px);
  overflow: hidden;
}

.burger {
  display: none;
}
/* burger 三条线的写法 */
.burger div {
  width: 25px;
  height: 3px;
  background-color: #dadbdd;
  margin: 5px 34px;
}

/* ============= 响应式导航栏 ===================
  1. 整体导航栏的进出过程
    监听 burger 的 click 事件；
    通过 js 加上 nav 的 open 类名;
    设置 默认 格式， translateX 100% 全部隐藏；
    设置 open 状态， translateX 0 全部出来；
    设置 过度 效果，transition.
  2. 导航项的逐渐出现的效果
    监听 click 事件；
    设置一个延迟，来达到先出现导航栏，再出现项；
    可以使用 transition 实现 transform and opacity 效果；
    亦可以使用 animation, 定义 keyframe 设置刚开始效果；
    然后通过 js 为相应的标签添加属性。
  3. 实现 burger 的 × 效果

  总的过程：
    1. 先定义之前的样式；
    2. 定义之后的样式， 或者 keyframe；
    3. 设置过度效果， 或者 animation;
    4. 明确控制条件，不同的状态啊， click 事件啊。
   =============================================*/
@media screen and (max-width: 650px) {
  .burger {
    display: block;
  }
  nav {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: calc(100vh - 80px);
    background-color: rgb(65, 81, 101, 0.9);

    /* 默认是隐藏进去的，隐藏的有个过程 */
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
  }
  nav.open {
    /* 当点击事件发生，给加上类名，然后出来 */
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 34px;
  }
  nav ul li {
    margin: 20px 0;
    transform: translate(20px, 0);
    /* 默认是不显示的，通过 js 添加上 animate 效果 */
    opacity: 0;
  }

  /* 实现 */
  .burger.active div {
    transition: 0.3s 0.3s ease-in-out;
  }
  .burger.active div:first-child {
    transform: rotate(45deg) translate(4px, 7px);
  }
  .burger.active div:nth-child(2) {
    opacity: 0;
  }
  .burger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -7px);
  }
}

@keyframes slideIn {
    from {
        transform: translate(20px, 0);
        opacity: 0;
    }

    to {
        transform: translate(0,0);
        opacity: 1;
    }
}