* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
    width: 100%;
    height: 20px;
    text-align: center;
    position: relative;
}

.content::before{
    
    /* ============= 显示这个线 ===================
        显示这个线需要：
        1. content 或者 content + background
        2. size
        3. position,这个可能根据 span 有所区别
        改为 div 就不行了，position 就不显示了。
       ====================================*/
    content: "";
    width: 100%;
    height: 2px;
    background-color: royalblue;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.content span{
    
    /* ============= 文字显示再线上面 ===================
        position: relative 会相对正常文本流位置进行偏移，首先先放到正常位置，
        然后在不影响布局的情况下相对正常位置调整位置，最后在正常位置留下空白
       ====================================*/
    position: relative;
    background-color: white;
    z-index: 2;
}