* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Helvetica;
}
img {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*================================================ 
总体的思路就是：
    transition: 不同状态之间的切换效果；
    利用 hover + transition 来实现切换 hover 状态时
        top 100% (正常文本流，图片下方)
        ->
        top 0 （position 图片重叠正上方）
    可以实现从下到上的切换效果；

    但是下面 top：100% 的状态还是会显示：
        利用 overflow 来隐藏超出大框的部分
  =================================================
*/

body .main-wrapper {
  position: relative;
  overflow: hidden;
}
.info {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* position size 都是为了实现把遮罩放到图片上面 */
  background-color: rgba(20, 20, 20, 0.6);
  transition: top 0.3s;
}
.main-wrapper:hover .info {
  top: 0px;
}

/* 处理文字的部分 */
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #d9d9d9;
}
.info h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
.info p{
    color: rgba(255, 255, 255, 0.5);
}
.info .contact{
    display: flex;
    height: 60px;
}
.info .icon{
    display: block;
    width: 60px;
}
.info .contact1 {
    background: url(images/Facebook.png) no-repeat center;
}
.info .contact2 {
    background: url(images/Facebook.png) no-repeat center;
}
.info .contact3 {
    background: url(images/Facebook.png) no-repeat center;
}
